In [1]:
import pandas as pd
import requests

# API Request

## API Documentation

ESRI Docs: https://developers.arcgis.com/documentation/ (general reference for ESRI)<br>
911 calls for service data:
https://data.detroitmi.gov/datasets/detroitmi::911-calls-for-service/explore<br>
Developers- Socrata AND ESRI
https://data.detroitmi.gov/pages/developers<br>
API Explorer (query commands): https://developers.arcgis.com/rest/services-reference/enterprise/query-feature-service-layer-.htm<br>

For Chicago, I did this:
select = "station_id, stationname, date_extract_y(date) as year,count(rides) as nDays,sum(rides) as nRides"<br>
where = "year between 2019 and 2022"<br>
group_by = "station_id,stationname, year"<br>
limit = 9999<br>

url = f"https://data.cityofchicago.org/resource/5neh-572f.json?$SELECT={select}&$WHERE={where}&$GROUP={group_by}&$LIMIT={limit}"<br>

Detroit example:
https://machine.domain.com/webadaptor/rest/services/Earthquakes/EarthquakesFromLastSevenDays/FeatureServer/0/query?where=magnitude+%3E+4.5&outFields=*&returnGeometry=true&returnIdsOnly=false&f=html

### Get 911 data

In [77]:
#full dataset
#url = "https://services2.arcgis.com/qvkbeam7Wirps6zC/arcgis/rest/services/911_Calls_New/FeatureServer/0/query?outFields=*&where=1%3D1&f=geojson"

#this worked
#url = "https://services2.arcgis.com/qvkbeam7Wirps6zC/arcgis/rest/services/911_Calls_New/FeatureServer/0/query?where=1%3D1&outFields=incident_id,agency,priority,category,call_timestamp,officerinitiated,respondingunit&outSR=4326&f=json"

#where = "category in ('MNTLARM','MNTLNARM','MENTPPRS','WBC','SUICIP','SUICTHRT')"

#url = f"https://services2.arcgis.com/qvkbeam7Wirps6zC/arcgis/rest/services/911_Calls_New/FeatureServer/0/query?where={where}outFields=incident_id,agency,priority,category,call_timestamp,officerinitiated,respondingunit&outSR=4326&f=json"
#url
url = https://services2.arcgis.com/qvkbeam7Wirps6zC/arcgis/rest/services/911_Calls_New/FeatureServer/0/query?where=category in ('MNTLARM','MNTLNARM','MENTPPRS','WBC','SUICIP','SUICTHRT')&outFields=incident_id,agency,priority,category,call_timestamp,officerinitiated,respondingunit&outSR=4326&f=json

SyntaxError: invalid decimal literal (1827571501.py, line 11)

In [74]:
#run the query
response = requests.get(url)
data = response.json()
print (response)

<Response [200]>

In [75]:
#look at the data
#data['features'][0]['attributes']
#data['fields'] is the header

#This gives me a nested list of dictionaries
data['features']

KeyError: 'features'

In [72]:
#use .pop command to open up each list of dictionaries
#see https://stackoverflow.com/questions/54321290/how-to-convert-list-of-nested-dictionary-to-pandas-dataframe
list_calls = [{**call.pop('attributes'), **call.pop('geometry')} for call in data['features']]
df_detroit_api = pd.DataFrame(list_calls)
df_detroit_api = df_detroit_api.drop(columns=['x','y'])
df_detroit_api

,incident_id,agency,priority,category,call_timestamp,officerinitiated,respondingunit
0,1160010009,DPD,,TIBHIS,1451624575000,No,0330
1,1160010016,DPD,,TIBHIS,1451624648000,No,
2,1160010031,DPD,,TIBHIS,1451624777000,No,1103
3,1160010042,DPD,,TIBHIS,1451624907000,No,1204
4,1160010050,DPD,,TIBHIS,1451624976000,No,
...,...,...,...,...,...,...,...
995,1160030494,DPD,,TIBHIS,1451820853000,No,0802
996,1160030497,DPD,,TRF STOP,1451821018000,No,0804
997,1160030506,DPD,,TIBHIS,1451822708000,No,
998,1160030510,DPD,,TIBHIS,1451822996000,No,0610
999,1160030512,DPD,,TIBHIS,1451823183000,No,0602